*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ion-toolbar{
    padding-left:10px;
    padding-right: 14px;
    padding-top: 14px;
    
}

ion-list {
    background: transparent;


}
ion-item {
    --background: inherit;
}

ion-header{
    background: transparent;
}

ion-toolbar{
    --background: inherit;
}

ion-title{
    --color:var(--ion-color-dark);
    font-family: sans-serif;
    font-weight: 780;
    font-size: 25px;
    margin-top: 15px!important;
}

ion-title.ios{
    --color:var(--ion-color-dark);
    font-family: sans-serif;
    font-weight: 780;
    font-size: 25px;
    margin-top: 15px!important;
    padding-left: 15px;
    text-align: left;
}

@media only screen and (min-width: 900px) {
    ion-slides{
        width: 100%;
        align-items: center;
        margin-top: 15px!important;
        padding-left: 30%!important;
        
        padding-right: 100%!important;
        position: absolute;
    }
    

    ion-title{
        --color:var(--ion-color-dark);
        font-family: sans-serif;
        font-weight: 780;
        font-size: 30px;
        margin-top: 35px!important;
    }

    .toggle{
        margin-top: 5px!important;
    }

    .avatar{
        margin-top:10px!important;
    }

    ion-slide{
        width: 140px!important;
        height: 100%!important;
    }

    .thirdButton{
        margin-left: 50px!important;
    }
    
    .fourthButton{
        margin-left: 50px;
    }

    ion-list{
        width: 100%;
    }

    ion-list-header{
        font-weight: 200;
    }

    .labelContent{
        color: var(--ion-color-dark);
        font-size: small;
        font-family: sans-serif;
        margin-left: 15px;
        font-weight: 100;
        margin-bottom: 10px!important;
    }

    .leftCardHotels{
        margin-left: 15px;
        border-radius: 0px;
    }

    .heart{
        z-index: 2;
        position: absolute;
        top: 5%!important;
        right: 10%!important;
        font-size: 10px!important;
        --background-color:white;
        width: 30px;
        height: 30px;
    }

    .discoverButton{
        text-align: center;
        --background: rgb(2, 87, 2)!important;
        border-radius: 25px;
        border: 2px solid white!important;
        --border-color: white!important;
        margin-left: auto;
        margin-right: auto;
        color: white;
        font-weight: bold;
        width: 25%;
        margin-left: auto!important;
        margin-right: auto!important;
        margin-bottom:25px
    }

}

ion-button{
    --border-radius: 50px;
    font-family: sans-serif!important;
    color: var(--ion-color-dark);
    font-weight: 500;
    text-transform: capitalize;
}   

@media only screen and (max-width: 900px) {
    .discoverButton{
        text-align: center;
        --background: rgb(2, 87, 2)!important;
        border-radius: 25px;
        border: 2px solid white!important;
        --border-color: white!important;
        margin-left: auto;
        margin-right: auto;
        color: white;
        font-weight: bold;
        width: 50%;
        margin-left: auto!important;
        margin-right: auto!important;
        margin-bottom:25px;
        position:inherit;
    }
    ion-slides{ 
        margin-top: 15px!important;
    }

    ion-button{
        height: 45px!important;
    }

    .firstSlide{
        margin-left: 6px!important;
        margin-right: 0px!important;
    }

    .secondSlide{
        margin-left: 5px!important;

    }

    .thirdSlide{
        margin-left: 10px!important;
        margin-right: 0px!important;
    }

    .fourthSlide{
        margin-left: 5px!important;
        margin-right: 5px!important;
    }

    ion-list{
        width: 100%;
    }

    ion-list-header{
        font-size: large;
        font-weight: bold;
        margin-bottom: 1px!important;
    }

    .slidesHotels{
        margin-top: 0px!important;
    }

    .cardHotels{
        margin-top: 0px!important;
    }

    .labelContent{
        color: var(--ion-color-dark);
        font-size: 14px;
        font-family: sans-serif;
        margin-top: 0px!important;
        margin-left: 4%;
        font-weight: 50;
        margin-bottom: 10px!important;
    }

    .firstHotels{
        margin-top: 0px!important;
        /* height: 220px!important;
        width: 220px!important; */
        /* object-fit: cover; */
        /* border-radius: 0px!important; */
        margin-right: 0px!important;
    }

    .hotels{
        margin-top: 10px!important;
        /* height: 210px!important;
        width: 210px!important; */
        object-fit: cover;
        border-radius: 0px!important;
    }

    .cardHotels{
        /* margin-left: 5px; */
        border-radius: 0px;
    }

    .cardHotels.ios{
        margin-top: 10px!important;
    }

    .leftCardHotels{
        /* margin-left: 15px; */
        border-radius: 0px;
    }

    .heart{
        z-index: 2;
        position: absolute;
        top: 4%!important;
        right: 8%!important;
        font-size: 10px!important;
        --background-color:white;
        width: 30px;
        height: 30px;
    }

}

.labelHotels{
    position: absolute;
    color: white;
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif!important;
    bottom: 0.1px!important;;
    left: 4px;
}



.iconHeart{
    font-size: 20px;
}

ion-card{
    box-shadow:none !important
}

ion-card-content{
    text-align: left;
    padding-left: 0px!important;
    padding-top: 5px!important;
    color: var(--ion-color-dark);
    font-size:12px!important;
    font-weight: bold;
}

ion-card-content p{
    font-size:12px!important;
    margin-top: 0px!important;
}

.circle{
    width: 10px;
    height: 10px;
    border-radius: 25px;
    background-color:green;
    margin-bottom: 0px!important;
    margin-top: 3px !important;
    margin-left: 1px;
    margin-right: 1px;
    float:left;
}

.circleOutline{
    width: 10px;
    height: 10px;
    border-radius: 25px;
    border-style: solid;
    background-color: white;
    border-color: green;
    border-width: 1px;
    margin-bottom: 0px!important;
    margin-top: 3px !important;
    margin-left: 1px;
    margin-right: 1px;
    float:left;
}

.rating{
    position:fixed;
    margin-top: 0.2px;
    font-size: 10px;
    margin-left: 5px;
    font-weight: 10;
    color: rgb(0, 0, 0);
}

ion-button{
    --background:white!important;
    --color:var(--ion-color-dark)!important;

}

ion-icon{
    margin-left: 5px;
    margin-right: 5px;
}


.header-image{
    width: 100%; 
    z-index: -1;
    object-fit:fill; 
}

ion-avatar{
    margin-top: 5%;
    margin-right: 2%;
    width: 40px;  
    height: 40px; 
}

.moon{
    margin-right: 0px;
}

.toggle{
    margin-top: 5%;
}

ion-icon.ios{
    margin-right: 5px;
}

ion-toggle.ios{
    margin-right: 15px!important;
    zoom:0.8;
    --background: white;
}

.cardDiscover{
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgb(2, 87, 2);
    margin-top: 30px;
}

.cardDiscoverContent{
    text-align: center;
    font-size: 30px!important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white!important;
    align-items: center;
    
}

