.searchbar-input.sc-ion-searchbar-md {
    border-radius: 25px;
    border-color: #7f8490;
    border-width: 2px !important;
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--ion-color-dark);
    background-color: white;
    
}

ion-title{
    color: var(--ion-color-dark);
}

.toolbardSearchTitle{
    color: white;
    padding-bottom: 15px;
}

.center{
    margin-left: auto;
    margin-right: auto;
    display: block !important;
}

.attractions{
    font-size: 24px;
}

@media only screen and (max-width: 768px) {
    .button-inner{
        /* width: 150px; */
        flex-flow: column;
        font-weight: bold;
        padding-left: 15px;
        padding-right: 15px;
    }
    .buttonText{
        position: absolute;
        color: var(--ion-color-dark);
        font-size: 10px;
        font-family: sans-serif!important;
        bottom: 5px!important;;
        left: 5px;
    }
    
    .buttonLabel{
        position: absolute;
        color: black;
        font-size: 10px;
        font-family: sans-serif!important;
        bottom: 5px!important;;
        left: 5px;
    }

    .seeAll{
        position: absolute;
        font-size: small;
        text-decoration: underline;
        right: 10px !important;
    }

    .rating{
        color: var(--ion-color-dark);
    }
    .heartSearch{
        z-index: 2;
        position: absolute;
        top: 7%!important;
        left: 24%!important;
        font-size: 10px!important;
        --background-color:white;
        width: 25px;
        height: 25px;
    }

}

.seeAll{
    position: absolute;
    font-size: small;
    text-decoration: underline;
    right: 10px !important;
}

.distance{
    margin-top: 3.5px;
    font-size: 10px;
    color: var(--ion-color-dark);
    float: right;
}

.imgCol{
    width: 100px!important;
}

.img{
    border-radius: 0px;
    width: 100px!important;
    height: 100px;
}

@media only screen and (min-width: 768px) {
    .heartSearch{
        z-index: 2;
        position: absolute;
        top: 2.5%;
        left: 29.5%;
        font-size: 10px!important;
        --background-color:white;
        width: 50px;
        height: 50px;
    }

}



.iconHeart{
    font-size: 15px;
}

.card{
    display: flex;
}

.cardContent{
    display: flex-end;
    text-align: left;
    padding-left: 0px!important;
    
    
    padding-top: 0px!important;
    color: var(--ion-color-dark);
    font-size:12px!important;
    font-weight: bold;
    float:right;
    width:100%;
}

.distance{
    display: flex-end;
}

ion-card-content p{
    font-size:12px!important;
    margin-top: 0px!important;
}

.fixed{
    position: fixed;
}

.labelHotels{
    position: absolute;
    color: white;
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif!important;
    bottom: 10px!important;;
    left: 10px;
}

